@model IEnumerable<studentmodelproj.Models.Student>

@{
    ViewBag.Title = "studentdetails";
}

<h2>studentdetails</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.stud_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stud_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stud_class)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stud_addno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stud_gender)
        </th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.result) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.stud_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stud_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stud_class)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stud_addno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stud_gender)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
