@Model  studentmodelproj.Models.Student;

@{
    ViewBag.Title = "Student";
}

<h2>Student</h2>
<div>
    <ul>
        @foreach (var i in ViewBag.Result)
        {
            <li>
                <p>Student ID : @i.stud_id </p>
                <p>Student Name : @i.stud_name </p>
                <p>Student Addmission Number : @i.stud_addno </p>
                <p>Student Class : @i.stud_class </p>
                <p>Student Gender : @i.stud_gender </p>
            </li>
        }

    </ul>

</div>

