@model studentmark
@{
    ViewBag.Title = "studentmarksview";
}

<h2>studentmarksview</h2>

<div class="disp_result">
    
    <table cellpadding="0" cellspacing="0" class="table table-borderless">
        <tr>
            <th colspan="2" text-align="center">Student ID</th>
            <th colspan="2" text-align="center">Student Name</th>
            <th colspan="2" text-align="center">Student Subject</th>
            <th colspan="2" text-align="center">Student Marks</th>
            <th colspan="2" text-align="center">Buttons</th>

        </tr>

        @foreach (var i in ViewBag.disp_res)
        {
            
            <tr>
                <td colspan="2" text-align="center">@i.id</td>
                <td colspan="2" text-align="center">@i.stud_name</td>
                <td colspan="2" text-align="center">@i.sub_name</td>
                <td colspan="2" text-align="center">@i.marks</td>
                <td colspan="2" text-align="center">
                    @Html.ActionLink("Update", "studentmarksupdate" , new { id = i.id, stud_name = i.stud_name, sub_name = i.sub_name, marks = i.marks } ) 
                    |
                    @Html.ActionLink("Delete", "delete", new { sid = i.id})

                </td>
            </tr>

        }

    </table>
    
</div>

